[package]
name = "ephem_derive"
version = "0.1.0-alpha"
authors = ["Roman A. Voronkin <roman.voronkin@gmail.com>"]
edition = "2018"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"